.imge{
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    color: hsl(0, 0%, 30%);
      font-family: monospace;
    letter-spacing: 10px;
    cursor: auto;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  
  h1:hover span:nth-child(2) {
    margin-left: 40px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }